*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;  //去掉图标下方文字的下划线
  color: inherit;
}
ul, ol{
  list-style: none;
}
button, input{
  font: inherit;
}
:focus{
  outline: none;
}